:root{
    --Space: #070314;
    --BlancCasse: #ECEAE4;
    --Blanc: #fff;
    --Bleu: #286292;
    --BleuClaire: #4B92BB;
    --Rouge: #C33029;
    --Txtnumerique: #40AE93;
}

body{
    background-color: var(--Space);
    color: var(--Blanc);
    font-family:"univia-pro";
    
}


H1{
    font-family : "ff-cocon-pro";
    font-size: 76px;
    text-align: center;
}

h3{
    text-align: center;
    font-size: 24px;
}

p{
    font-size: 12px;
    font-style: italic;
}



/* !!!!!!!!!!!!!!!!!!!!      frise chronologique      !!!!!!!!!!!!!!!!!!!!  */

.évènement>div{
    display: block;
    background-color: #286292;
    
}

.évènement>div:nth-child(2){
    background-color: #28924f;
}

.évènement{
    padding: 20px;
}

.date{
    font-family : "ff-cocon-pro";
    font-size: 40px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    margin: auto;
}

.explication{
    width: 40%;
    height:40dvw;
    background-color: #C33029;
}

.explication>p{
    text-align: center;
}



/* !!!!!!!!!!!!!!!!!!!!      frise chronologique      !!!!!!!!!!!!!!!!!!!!  */

/* !!!!!!!!!!!!!!!!!!!!      Partie pour les fusées      !!!!!!!!!!!!!!!!!!!!  */

.zone{
    padding: 16px;
    margin:10px;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    overflow-x: auto;
}

.fusee{
    text-align: center;
    min-width: 80px;
    align-self:flex-end;
}

.vol{
    transition: transform 0.5s ease-out 0.1s;
}

.fusee:hover .vol{
    transform: translateY(-60px) rotate(1.6deg);
}


.hautF{
    position:relative;
    width: 40px;
    top: 20px;
    z-index: 1;
}


.tronc{
    width: 40px;
    height: var(--taille);
    background-color: var(--FuseeColor);
    position:relative;
    width: 40px;
    left: 20px;
}

.nbrFusee{
    text-align: center;
    margin-top:0px;
    padding-top: 40px;
}


.basF{
    width: 68px;
    position:relative;
    top: -80px;
    margin-bottom: -80px;
    z-index: 1;
}

.boost{
    margin: -4.4px 7px 0px 7px ;
    display: flex;
    gap: 3.3px;
    position:absolute;
    z-index: 0;
}

.petitBoost{
    background-color: #C33029;
    width: 13px;
    height: 0px;
    border-radius: 0 0 4px 4px;
    transition: height 0.3s ease-out 0.4s;
}

.petitBoost .feu2{
    transition: height 0.4s ease-out 0.3s;
}

.petitBoost .feu3{

    transition: height 0.2s ease-out 0.2s;
}


.feu1{
    background-color: #C33029;
    width: 15px;
    height: 0px;
    border-radius: 0 0 4px 4px;
    transition: height 0.4s ease-out 0.2s;
}

.feu2{
    background-color: #ff7300d6;
    padding: 0px 1px 0px 1px;
    height: 0px;
    margin:0 0.5px 0 0.5px;
    border-radius: 0 0 4px 4px;
    transition: height 0.6s ease-out 0.1s;
}

.feu3{
    background-color: #ffab02d4;
    padding: 0 2px 0px 2px;
    height: 0px;
    margin:  0 0.2px 0px 0.2px;
    border-radius: 0 0 4px 4px;
    transition: height 0.3s ease-out;
}

/* animation flammes */

.fusee:hover .feu1{
    height: 10px;
}

.fusee:hover .feu2{
    height: 6px;
}

.fusee:hover .feu3{
    height: 2.4px;
}


.fusee:hover .petitBoost{
    height: 7px;
}

.fusee:hover .petitBoost .feu2{
    height: 5px;
}

.fusee:hover .petitBoost .feu3{
    height: 2px;
}

/* !!!     Partie Mini fusées      !!!  */

.MiniBoost{
    margin: -12px 0px 0px 0px ;
    display: flex;
    position:absolute;
    z-index: -1;
}

.MiniBoost .feu1{
    border-radius: 6px;
    width: 40px;
    animation: fire1 0.7s ease infinite;
}

.MiniBoost .feu2{
    border-radius: 6px;
    width: 37px;
    animation: fire2 0.7s ease infinite -0.1s;
}

.MiniBoost .feu3{
    border-radius: 6px;
    width: 33px;
    animation: fire3 0.7s ease infinite -0.2s;
}

@keyframes fire1 {
    0% { 
        height: 18px;
    }
    50% { 
        height: 24px;
    }
    100% { 
        height: 18px;
    }
  }

@keyframes fire2 {
    0% { 
        height: 13px;
    }
    50% { 
        height: 19px;
    }
    100% { 
        height: 13px;
    }
  }

  @keyframes fire3 {
    0% { 
        height: 7px;
    }
    50% { 
        height: 12px;
    }
    100% { 
        height: 7px;
    }
  }
  /* !!!      chemin MiniFusée     !!!  */
  .motion-object {
    offset-path: path('M264.5 2.5C74 120.5 29.5 222 4.99988 475C-34.1823 879.614 328.5 699 327 1196C325.825 1585.5 9.00025 1347 12.5003 1865C12.5003 2243.5 177.5 2300 263 2311'); /* this is a square path */
    animation: move 5s linear forwards;
    transition: offset-path 0.6s ease-out;
    transform: rotate(90deg);
    margin-left: 26dvw;
    margin-top: 20px;
    width: 40px;
    height: 40px;
  }
  
  @keyframes move {
    0% { 
      offset-distance: 0%;
    }
    100% { 
      offset-distance: 100%;
    }
  }
  

  
  /* !!!      chemin MiniFusée     !!!  */

/* !!!!!!!!!!!!!!!!!!!!      Partie pour les fusées      !!!!!!!!!!!!!!!!!!!!  */

/* !!!!!!!!!!!!!!!!!!!!      Partie astronaute     !!!!!!!!!!!!!!!!!!!!  */

#astronaute{
    height: 500px;
}

.inverse{
    transform: scaleX(-1);
}

#casque{
    transition: opacity 0.6s ease-out;
}


#astronaute:hover #casque{
    opacity: 0%;

}

.combi{
    position: relative;
    z-index: 1;
    animation: gravite 38s linear infinite var(--Adeley);
    width: 500px;
    margin: auto;
}

.AsCombi{
    height: 120px;
    position: absolute;
    z-index: -1;
    transform: translateX(-310px) rotateZ(-20deg) translateY(0px);
}

@keyframes gravite {
    0% {
      transform: rotateZ(-35deg) scale(var(--sens),0.70) translate(0px,0px);
    }
    50% {
      transform: rotateZ(65deg) scale(var(--sens1),1) translate(20px,-4px);
    }
    100% {
        transform: rotateZ(-35deg) scale(var(--sens),0.70) translate(0px,0px);
      }
  }

/* !!!!!!!!!!!!!!!!!!!!      Partie astronaute     !!!!!!!!!!!!!!!!!!!!  */

/* !!!!!!!!!!!!!!!!!!!!      Images Illustration    !!!!!!!!!!!!!!!!!!!!  */
#imgS {
    border-radius: 50px;
    filter: blur(5px);
    height:40dvw;
    opacity: 10%;
    transition: border-radius 1.3s, transform 1.7s, filter 1.3s, opacity 0.6s ease-out;
    transform: scale(0.70) rotate(5deg);
  }

  #imgS:hover{
    filter: blur(0px);
    opacity: 100%;
    transform: scale(1) rotate(0deg);
    border-radius: 4px;
  }

/* !!!!!!!!!!!!!!!!!!!!      Images Illustration    !!!!!!!!!!!!!!!!!!!!  */

/* !!!!!!!!!!!!!!!!!!!!      Tableau de bord ESA    !!!!!!!!!!!!!!!!!!!!  */

.TableauBord{
    font-family: "univia-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 1.6px var(--Txtnumerique);
    background-color: #B7B3A7;
    border: 14px solid #2F304E;
    padding:20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: 
        "titre titre"
        "repart repart"
        "carte carte"
        "selection selection";
}


.responsiveImg{
    width: 100%;
    height: auto;
    margin: auto;
}

.responsiveImgJ{
    width: 10dvw;
    max-width: 100px;
    height: auto;
    margin: auto;
}



#titreTab{
    grid-area: titre;
    margin: 6px auto 34px auto;
    font-size: 14px;
}

.ZoneTxt{
    font-size: 10px;
    background-color: #171E2E;
    margin:5px;
    padding:10px;
    color:var(--Txtnumerique);
    border-radius: 4px;
    text-align: center;
}

.jauge{
    width: 130px;
}

#Ljauge{
    animation: Remplissage 0.8s ease-in-out forwards;
}

@keyframes Remplissage {
    0% { 
        stroke-dasharray: 0px 300px;
    }
    70% { 
        stroke-dasharray: calc(var(--dimension) + 20px) 300px;
    }
    85% { 
        stroke-dasharray: calc(var(--dimension) - 20px) 300px;
    }
    100% { 
        stroke-dasharray: var(--dimension) 300px;
    }
  }

/* !!!    Répartition hommes/femmes    !!!  */

#repartition{
    grid-area: repart;
}

#repartition>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#repartition>.HCF{
    transform: scale(0.5);
}

.ZoneJauge{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#selection{
    grid-area: selection;
    padding:20px;
}

.zoneIcone>div>img{
    height: 80px;
    margin:6px;
}

.decoTabBord{
    margin-top: 35px;
    margin-bottom: 15px;
    align-items: center;
}

.guide{
    width: 456px;
}


#curceur{
    height: 100px;
    offset-path: path('M2 1.5H208'); /* this is a square path */
    animation: arrive 0.8s ease-in-out forwards;
    margin-bottom: -110px;
}

  
  @keyframes arrive {
    0% { 
      offset-distance: 10%;
    }
    70% { 
        offset-distance: calc(var(--position) + 4%);
    }
    85% { 
        offset-distance: calc(var(--position) - 4%);
    }
    100% { 
      offset-distance: var(--position);
    }
  }

.ESAresultat{
    display:block;
}

.zoneIcone{
    width: auto;
    margin: auto;
}


/* !!!    Carte    !!!  */

#map {
    height: 50dvw;
    width: auto;
    background-color: #F9F4E5;
}

#carte{
    grid-area: carte;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carte{
    padding: 20px;
    background-color: #F9F4E5;
    border-radius: 10px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background:#171E2E;
    color:var(--Txtnumerique);
    font-size:12px;
    line-height:24px;
    }
.custom-popup .leaflet-popup-content-wrapper .Tpopup {
    font-size: 16px;
    }

.custom-popup .leaflet-popup-content-wrapper .Rpopup {
    margin: 6px;
    }
    
.custom-popup .leaflet-popup-tip {
    display: none;
    }

.Pbox{
    display: flex;
    gap:6px;
}





/* !!!!!!!!!!!!!!!!!!!!      Tableau de bord ESA    !!!!!!!!!!!!!!!!!!!!  */
